@font-face {
    font-family: "Noto Sans", sans-serif;
    src: url('../fonts/NotoSans-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS */
body,html {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-image: url('../background/setting.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: #fdfdfd;
}

  
h1{
  flex: 1;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.container-fluid {
  padding: 0 15px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 40px; 
  /* background: linear-gradient(to right, rgba(75, 173, 99, 0.4), rgba(34, 37, 34, 0.4), rgba(42, 45, 218, 0.5)); Gradient background with reduced opacity */
  border-radius: 10px; 
  box-shadow: 0 0 20px rgb(207, 124, 124, 0.3); 
  font-size: 30px;
  color: #fdfdfd;
}

.btn {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.1em !important; 
  font-weight: bolder !important;
  background-color:rgba(7, 200, 133)!important;
  color: rgb(248, 248, 248) !important;
  box-shadow: 0 20px 12px rgb(20, 20, 20, 0.404); 
  text-transform: uppercase;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 200px;
  height: 100px;
}


.btn:hover{
  background: linear-gradient(30deg,rgba(7, 200, 133), rgb(234,239,232,255), rgba(15, 40, 95)) !important;
  color: rgb(248, 248, 248);
}

.btn:active {
  transform: translateY(8px);
  box-shadow: 0 6px 12px rgb(20, 20, 20, 0.6); 
}

#settings-form {
  margin-top: 20px;
  text-align: left;
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
}


/* Adjust input text size */
input[type=number] {
  font-size: 1.2em; 
  padding: 10px; 
  margin: 20px;
  border-radius: 20px; 
  box-shadow: 0 20px 12px rgba(20, 20, 20, 0.404);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.thumb {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

#font-selector {
  width: 90%;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 20px 12px rgba(20, 20, 20, 0.404);
  background: white;
  color: black;
}


/* Specific Media Query for 1080x1920 Resolution (Portrait) */
@media screen and (min-width: 1080px) and (max-height: 1920px) and (orientation: portrait) {
  body {
      background-image: url('../background/setting.jpg');
  }
  }
