/* =========================================================
   USER PAGE
   ========================================================= */

/* ---------- Base ---------- */

body {
    background-image: var(--bg-user-landscape);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-light-text);
}


/* =========================================================
   USER FORM
   ========================================================= */

#user-form {
    flex: 1;
    margin-top: 20px;

    text-align: center;

    font-size: 1.1em;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}


/* =========================================================
   PORTRAIT
   ========================================================= */

@media screen
    and (min-width: 1080px)
    and (max-height: 1920px)
    and (orientation: portrait) {

    body {
        background-image: var(--bg-user-portrait);
    }
}
