<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word Search Game</title>
  <link rel="stylesheet" href="../public/css/game.css">
</head>
<body>
  <div id="game-container">
    
    <div id="timer-wrapper">
      <div id="time-text">Time:</div>
      <div id="timer">
        <span id="time-left">00</span>
        <span id="sec">SEC</span>
      </div>
    </div>
    
    <div id="score" class="score-position">Score: 0</div>
    <div id="word-grid">
      
    </div>
  </div>
  <script src="../public/js/game.js"></script>
</body>
</html>
