<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looping Video</title>
    <link rel="icon" href="../public/background/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
    <!-- Background image container -->
    <div id="fallback-bg"></div>

    <!-- Video player -->
    <video id="video-player" autoplay loop muted>
        <source id="video-source" src="" type="video/mp4">
    </video>

    <script src="../public/js/index.js"></script>
</body>
</html>
