<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Settings</title>
  <link rel="icon" href="../public/background/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../public/css/setting.css">
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>

  <div class="container-fluid">
    <div class="section">
        <h1 class="text-center">Settings</h1>
        <div id="settings-form">
            <form id="settings-info-form">
              <div class="form-group">
                <label for=""grid-size">Grid Size (e.g., 17): </label>
                <input type="number" id="grid-size" class="form-control" name="grid-size" value="17">
            </div>
        
            <div class="form-group">
                <label for="timer-duration">Timer Duration (seconds):</label>
                <input type="number" id="timer-duration" class="form-control" name="timer-duration" value="60">
            </div>
            <button type="submit" id="settings-info-form" class="btn">Save</button>
            </form>
        </div>
    </div>
  </div>
  <script src="../public/js/settings.js"></script>
</body>
</html>
